<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ADONETConnection"
			 connectionString="Data Source=LAPTOP;Initial Catalog=ADONET;Trusted_Connection=True;TrustServerCertificate=True; " 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>